<!DOCTYPE html>
<html>
<body>
<section>
    <div flash-message="5000" ></div>

    <h3>Podaj tytuł książki:</h3>
      <div class="input-group">
          <span class="input-group-btn">  
    <input type="text" ng-model="prefix" class="form-control" placeholder="Podaj tytul szukanej ksiazki">
    <button ng-click="search()" class="btn btn-default" >Szukaj</button>
    <button ng-click="addBook()" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span> Dodaj książkę</button></span>
</div>
    <table class="table table-striped table-bordered table-condensed""  ng-show="books.length>0">
        <tr>
            <th>		<p class="tablemMargin" >Tytuł </p></th>
            <th>	<p class="tablemMargin" >Autorzy</p></th>
            <th></th>

        </tr>
        <tr ng-repeat="book in books">
            <td><p class="tablemMargin">{{ book.title }}</p></td>
            <td>
      
				<p class="tablemMargin" ng-repeat="author in book.authors">{{author.firstName}} {{author.lastName}}</p>
										            
            </td>
            <td>
                <button  type="button" class="btn btn-sm btn-danger tablemMargin" ng-click="deleteBook(book.id)"><span class="glyphicon glyphicon-ban-circle"></span> USUN</button>
           <button type="button" class="btn  btn-sm btn-primary" ng-click="editBook(book)"><span class="glyphicon glyphicon-edit"></span> EDYTUJ</button>
            </td>
            
        </tr>
    </table>
</section>
</body>
</html>