<div>

        <div class="modal-header">
            <h3 class="modal-title">Dodaj Ksiazke</h3>
        </div>
        <div class="modal-body">
		<form name="form.BookAddForm" novalidate>

      <div class="form-group">
            <label>Tytul Ksiazki:</label>
            <input type="text" name="modalBookTitle" class="form-control" ng-model="addedBook.title" ng-minlength="2"  required>
            <p ng-show="form.BookAddForm.modalBookTitle.$error.minlength" class="help-block">Tytul musi miec conajmniej 2 litery</p>
 
        </div>
        </form>
        
        <label>Pod autorstwem:</label><br>
  <h4 class="text-info" ng-repeat="author in addedBook.authors">

{{author.firstName}} {{author.lastName}}
 </h4>       <button type="button" class="btn btn-xs btn-success" ng-click="addAuthor()"><span class="glyphicon glyphicon-ban-plus"></span> Dodaj autora</button>
             </div>
        <div class="modal-footer">
            <button class="btn btn-warning" ng-click="$dismiss()">Zamknij</button>
   <button class="btn btn-success" ng-click="save()"  ng-disabled="!form.BookAddForm.$valid || addedBook.authors.length<1" ><span class="glyphicon glyphicon-plus"></span> Dodaj</button>
   
    
</div>

</div>